*.java text eol=lf
*.sh text eol=lf
*.groovy text eol=lf
*.env text eol=lf
*.conf text eol=lf
Dockerfile text eol=lf
*.bat text eol=crlf
*.gradle text eol=lf
*.sql text eol=lf
*.yaml text eol=lf
*.xml text eol=lf
*.json text eol=lf
*.txt text eol=lf
*.config text eol=lf
*.properties text eol=lf
*.yml text eol=lf
